@page "/"
@using System.Text.Json;

<PageTitle>Index</PageTitle>
<div class="controlregion">

    <SfFileManager TValue="FileManagerDirectoryContent" ShowThumbnail="true" AllowMultiSelection="false">
        <FileManagerAjaxSettings Url="/api/FileManager/FileOperations"
                                 UploadUrl="/api/FileManager/Upload"
                                 DownloadUrl="/api/FileManager/Download"
                                 GetImageUrl="/api/FileManager/GetImage">
        </FileManagerAjaxSettings>
        <FileManagerEvents TValue="FileManagerDirectoryContent" OnFileOpen="OpenFilePreview"></FileManagerEvents>
    </SfFileManager>
    <br />
    <div>
        <SfDialog Width="1000px" Height="750px" EnableResize="true" ShowCloseIcon="true" IsModal="true" @bind-Visible="@IsDialogVisible">
            <DialogTemplates>
                <Header> @DialogTitle </Header>
                <Content>
                    <div style="display:@PdfVisible">
                        <SfPdfViewerServer DocumentPath="@DocumentPath" Height="500px" Width="1060px"></SfPdfViewerServer>
                    </div>
                    <div style="display:@DocVisible">
                        <SfDocumentEditorContainer @ref="documentEditorContainer" EnableToolbar="true">
                            <DocumentEditorContainerEvents Created="OnCreated"></DocumentEditorContainerEvents>
                        </SfDocumentEditorContainer>
                    </div>
                </Content>
            </DialogTemplates>
        </SfDialog>
    </div>

</div>
@code
{
    private string DocumentPath { get; set; } = string.Empty;
    private bool IsDialogVisible { get; set; } = true;
    private string PdfVisible { get; set; } = "none";
    private string DocVisible { get; set; } = "block";

    private string DialogTitle { get; set; } = "Preview a File";
    SfDocumentEditorContainer documentEditorContainer;
    SfDocumentEditor editor;

    private void OpenFilePreview(FileOpenEventArgs<FileManagerDirectoryContent> args)
    {
        this.IsDialogVisible = true;
        if (args.FileDetails.Type == ".pdf")
        {
            PdfVisible = "block";
            DocumentPath = "wwwroot\\Files" + args.FileDetails.FilterPath + args.FileDetails.Name;
        }
        else if (args.FileDetails.Type == ".docx")
        {
            //DocVisible = "block";
            this.OpenDocument("wwwroot\\Files" + args.FileDetails.FilterPath + args.FileDetails.Name);
        }
    }

    public void OnCreated(object args)
    {
        string filePath = "wwwroot/data/file-manager.docx";
        using (FileStream fileStream = new FileStream(filePath, System.IO.FileMode.Open, System.IO.FileAccess.Read))
        {
            WordDocument document = WordDocument.Load(fileStream, ImportFormatType.Docx);
            string json = JsonSerializer.Serialize(document);
            document.Dispose();
            //To observe the memory go down, null out the reference of document variable.
            document = null;
            editor = documentEditorContainer.DocumentEditor;
            editor.OpenAsync(json);
            //To observe the memory go down, null out the reference of json variable.
            json = null;
        }
    }

    public void OpenDocument(string filePath)
    {
        using (FileStream fileStream = new FileStream(filePath, System.IO.FileMode.Open, System.IO.FileAccess.Read))
        {
            WordDocument document = WordDocument.Load(fileStream, ImportFormatType.Docx);
            string json = JsonSerializer.Serialize(document);
            document.Dispose();
            //To observe the memory go down, null out the reference of document variable.
            document = null;
            editor = documentEditorContainer.DocumentEditor;
            editor.OpenAsync(json);
            //To observe the memory go down, null out the reference of json variable.
            json = null;
        }
    }
}
